.main-wrapper{
    height: 100vh;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    display: grid;
    
}

.main-header{
    grid-area: mainHeader;
}

.side-container{
    grid-area: sidebar;
}

.main-content{
    overflow: auto;
    grid-area: mainContainer;
    background-color: rgb(248,250,253);
}
/* sidebar */

.sidebar{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(247,249,251);
    height: 100vh;
    transition: all 0.3s;
    width: 250px;
}

#side-collapse{
    width: 75px;
    transition: all 0.3s;
}

#logo-collapse{
    display: none;
}

#toggle-collapse{
    margin-right: auto;
    margin-left: auto;
}
.side-top-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.side-logo{
    width: 8rem;
}

.side-fabars{
    font-size: 25px;
}

.side-fabars:hover{
    cursor: pointer;
}

.side-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 45px;
    text-decoration: none;
    color: black;
}

#active{
    width: 250px;
}

.side-icons{
    width: 30%;
    justify-content: center;
}

.side-texts{
    width: 70%;
}

.side-texts, .side-icons{
    display: flex;
    align-items: center;
    height: 100%;
}

.side-links:hover{
    background-color: rgb(229,213,216);
    color: rgb(117,25,25);
}

#active:hover{
    color: rgb(117,25,25);
}
#text-collapse:hover{
    color: inherit
}
/* header */
.notificion-div p{
    margin-bottom: 0;
}

.search-div{
    display: flex;
    flex-direction: row-reverse;
}

.search-div input[type="text"]{
    width: 30rem;
    border-width: 0.1rem;
    font-size: 1.1rem;
    line-height: 50%;
    height: 2.7rem;
    padding-left: 50px;
    border-radius: 10px;
}

.search-div button{
    background-color: transparent;
    border: none;
    margin-right: -45px;
}

.main-header, .notificion-div{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin: 20px;
}




@media (min-width: 0px) {
    .main-wrapper{
        grid-template-areas: "mainHeader mainHeader"
        "sidebar mainContainer" ;
    }
    .main-header{
        display: none;
    }
    .sidebar{
        width: 50px;
    }
    .side-fabars{
        display: none;
    }
    .side-icons{
        width: 100%;
    }
    .side-top-section {
        padding: 0px;
    }
    .side-logo {
        width: 9rem;
    }
    .side-texts{
        position: relative;
        display: none;
        width: 0px;
    }
    .side-texts p{
        position: absolute;
        margin-bottom: 0px;
        width: 125px;
    }
    .side-links:hover>.side-texts{
        background-color: rgb(229,213,216);
        color: black;
        display: flex;
    }
}

@media (min-width:750px) {
    .main-wrapper{
        grid-template-areas:    "sidebar mainHeader"
                                "sidebar mainContainer" ;
    }
    .main-header{
        display: inline-flex;
    }
    .side-top-section{
        padding: 15px;
    }
    .side-logo {
        display: none;
    }
    .search-div input[type="text"] {
        width: 25rem;
    }
    .notificion-div {
        gap: 2rem;
    }
    .main-header{
        margin: 10px 15px;
    }    
}

@media (min-width:800px) {
    .sidebar{
        width: 60px;
    }
}

@media (min-width:950px) {
    .sidebar{
        width: 250px;
    }
    .side-logo{
        display: inline;
    }
    .side-fabars{
        display: var(--fa-display, inline-block);
    }
    .side-icons{
        width: 30%;
    }
    .side-texts{
        display: flex;
        width: 70%;
    }
    #text-collapse{
        display: none;
    }
    #active:hover>#text-collapse{
        display: flex;
        color: black;
    }
    #active:hover{
        color: rgb(229,213,216);
    }
    #active:hover>#text-collapse{
        display: flex;
        color: black;
    }
    .side-icons:hover {
        background-color: rgb(229,213,216);
        color: rgb(140,31,31);
    }
}

@media (min-width: 1020px){
    .main-header {
        margin: 10px 25px;
    }
    .search-div input[type="text"] {
        width: 27rem;
    }
}

@media (min-width: 1500px){
    .main-header {
        margin: 20px 40px;
    }
    .search-div input[type="text"] {
        width: 30rem;
    }
    .notificion-div {
        gap: 5rem;
    }
}

@media (min-width: 1600px){
    .sidebar {
        width: 300px;
    }
    #side-collapse {
        width: 80px;
    }
}

@media (min-width: 1600px){
    .sidebar {
        width: 320px;
    }
    #side-collapse {
        width: 90px;
    }
    .side-links {
        height: 50px;
    }
}