.candidate-main{
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    gap: 3rem;
}
.candidate-header{
    text-align: center;
}

.candidate-header h1{
    color: rgb(140,31,31);
}

.candidate-main-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
    row-gap: 4.5rem;
}

.candidate-view{
    width: 8rem;
}

@media (min-width:0px) {
    .candidate-main-container {
        grid-template-columns: repeat(auto-fill,minmax(120px,1fr));
    }
    .candidate-header{
        font-size: 2rem;
    }
    .candidate-main{
        margin: 15px auto;
    }    
}

@media (min-width:300px) {
    .candidate-main-container {
        grid-template-columns: repeat(auto-fill,minmax(238px,1fr));
    }
    .candidate-header{
        font-size: 3rem;
    }
}

@media (min-width:1350px) {
    .candidate-main-container {
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    }
    .candidate-header{
        font-size: 4rem;
    }
}

@media (min-width:1500px) {
    .candidate-main-container {
        grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    }
}

@media (min-width:1720px) {
    .candidate-main-container {
        grid-template-columns: repeat(auto-fill,minmax(380px,1fr));
    }
}

@media (min-width:1850px) {
    .candidate-main-container {
        grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
        row-gap: 10.5rem;
    }
}

@media (min-width:1920px) {
    .candidate-main-container {
        grid-template-columns: repeat(auto-fill,minmax(420px,1fr));
    }
}