@media (max-width:1920px) {
    
    #login_container{
        width: 90%;
    }
    .login_sec_row{
        display: flex;
        justify-content: space-between;
    }
    .login_main{
        margin: 40px;
    }
    .lbl_link{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .login_header h1{
        color: rgb(140,31,31);
        font-weight: bold;
        font-size: 4rem;
        margin-top: 85px;
        margin-bottom: 35px;
    }
    #st_group{
        margin-bottom: 50px;
    }
    #login_group{
        margin-bottom: 60px;
    }
    
    .pic_col{
        display: inline-flex;
        width: 50%;
        flex-direction: column;
    }
    
    .pic_col p{
        font-size: 25px;
        margin-top: 30px;
        margin-bottom: 50px;
        text-align: left;
    }
    
    .login_pic{
        width: 110%;
        height: 446px;
    }

    #login-toggle{
        margin-left: -3rem;
    }
    
    .form_col{
        display: inline-block;
        width: 34%;
    }
    .sign_in{
        text-transform: capitalize;
        font-size: 30px;
        color: rgb(140,31,31);
        display: none;
        font-weight:700;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .stNo,.login_pass,#sign_button{
        height: 49px;
        width: 100%;
        border-radius: 12px;
        border:2px solid rgb(140,31,31);
        transition: all 0.3s;
    }
    
    #sign_button{
        border:none;
        background:rgb(140,31,31);
    }
    
    .forgot_pass{
        text-decoration: none;
        display: inline-block;
        color: rgb(140,31,31);
        font-weight: 600;
    }
    .forgot_pass:hover{
        text-decoration: underline;
        color: rgb(140,31,31);
    }
    #check{
        box-shadow: none;
        border: 1.5px solid rgb(140,31,31);
    }
    
    #check:checked{
        background-color: rgb(140,31,31);
        border: none;
        box-shadow: 0 0 5px rgb(140,31,31) ;
    }
    
    #sign_button:hover{
        background-color:white;
        color: black;
        border: 0.2rem solid #8c1f1f;
    }
    #sign_button:focus{
        box-shadow: 0 0 1px rgb(140,31,31);
        color: aliceblue;
        background-color: rgb(56, 6, 6);
    }
    #login-toggle:focus{
        box-shadow: none;
    }
    #log_reg_link{
        text-decoration: none;
        color: rgb(140,31,31);
        font-weight: 600;
    }
    
    #log_reg_link:hover{
        text-decoration: underline;
    }
    
    .login_pass:focus, .stNo:focus{
        transition: all 0.3s;
        border: 0 none;
        box-shadow: 0 0 13px rgb(140,31,31);
    }
    
}

@media(max-width:1280px){
    .pic_col p{
        font-size: 21px;
    }  
}

@media(max-width:1024px) {
    #login_container{
        width: 100%;
    }
    .form_col{
        width: 45%;
    }
    .login_header h1{
        font-size: 3.5rem;
    }
}

@media(max-width:834px) {
    .login_header h1{
        font-size: 3.1rem;
    }
    .login_main {
        margin: 40px 5px;
    }
}

@media(max-width:768px){
    .pic_col {
        width: 45%;
    }
    .pic_col p br{
        display: none;
    }
    .pic_col p{
        margin: 50px auto;
        font-size: 18px;
    }
    .login_pic{
        height: 300px;
    }
    .login_header h1{
        font-size: 3.0rem;
    } 
    .form_col{
        margin-top: 30px;
    }
}

@media(max-width:414px) {
    .login_sec_row{
        flex-direction: column;
        align-items: center;
    }
    .pic_col{
        width: 90%;
        align-items: center;
    }
    .form_col{
        width: 85%;
        margin: 60px auto;
    }
    .sign_in {
        display: block;
        font-size: 25px;
    }
    .login_header h1 {
        font-size: 2rem;
    }
    .lbl_link {
        font-size: 13px;
    }
}

@media(max-width:390px) {
    .form_col {
        width: 85%;
        margin: 75px auto;
    } 
}

@media(max-width:375px) {
    .login_main {
        margin: auto 30px;
    }
    .login_header h1 {
        font-size: 2.4rem;
    }
    .pic_col {
        width: 100%;
    }
    .form_col {
        width: 95%;
    }
}

@media(max-width:360px) {
    .login_main {
        margin: auto 30px;
    }
    .login_header h1 {
        font-size: 2.4rem;
    }
    .pic_col {
        width: 100%;
    }
    .form_col {
        width: 100%;
    }
    #login_container{
        padding: 0px;
    }
}

@media(max-width:320px) {
    .login_main {
        margin: auto 20px;
    }
}



