.part2{
    padding-top:4rem;
    padding-bottom: 4rem;
    width:100%;
    color: white;
    /* display: flexbox; */
    /* flex-direction: column;
    column-gap: 1rem;
    column-count: 3; */
}

.img{
    width: 60%;
    height: auto;
    background-color:#8c2020 ;
}

.cards{
    background-color: #8c2020 ;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.card-body{
    width: 100%;
}

.card-heading{
 padding-top: 2rem;
 width: 100%;
 
}

.card-sub-heading{
  padding-top: 1rem;
  font-size: 0.8rem;
}

