@media screen and (min-width: 0px) and (orientation: portrait){
    .bar-sizes{
        width:150px;
        height:130px;
        position: relative;
        margin-left: 2rem;
    }
    
    .headingp3{
        top:-130px;
        line-height: 2rem;
        background-color: white;
    }
    
    .t-headingp3{
        color:black;
    }
    
    .part3{
        color:black;
        background-color: white;
    }
    
    .card-headingp3{
        display: grid;
        justify-content: center;
        left:-0.2rem;
        top:3rem;
        font-size: 1.2rem;
    }
    
    .cards3{
        background-color: white;
    }
    
    }
    
    @media screen and (min-width: 0px) and (orientation: landscape){
        .bar-sizes{
            width:150px;
            height:130px;
            position: relative;
            margin-left: 2rem;
        }
        
        .headingp3{
            top:-130px;
            line-height: 2rem;
            background-color: white;
        }
        
        .t-headingp3{
            color:black;
        }
        
        .part3{
            color:black;
            background-color: white;
        }
        
        .card-headingp3{
            display: grid;
            justify-content: center;
            left:-0.2rem;
            top:3rem;
            font-size: 1.2rem;
        }
        
        .cards3{
            background-color: white;
        }
        
        }
    
        @media screen and (min-width: 360px) and (orientation: portrait){
            .bar-sizes{
                position: relative;
                margin-left: 1.9rem;
                margin-top: -4rem;
            }
            
            .card-headingp3{
                top:1rem;
                left:0.3rem;
            }
        
            
            }
    
            @media screen and (min-width: 375px) and (orientation: portrait){
                .bar-sizes{
                    margin-left: 2.5rem;
                }
           
                }
    
                @media screen and (min-width: 414px) and (orientation: portrait){
                    .bar-sizes{
                        margin-left: 3.8rem;
                    }
               
                    }
    
    
    
                    @media screen and (min-width: 412px) and (orientation: portrait){
                        .bar-sizes{
                            margin-left: 3.8rem;
                        }
                   
                        }
    
                        @media screen and (min-width: 500px) and (orientation: portrait){
                            .bar-sizes{
                                margin-left: 7.5rem;
                            }
                       
                            }
                        
                        
                        
    @media screen and (min-width: 768px) and (orientation: portrait){
      .bar-sizes{
     margin-left: 2.4rem;
      width:120px;
     }
    
     .card-headingp3{
        left:-0.5rem;
        width:13rem;
        font-size: 1.1rem;
     }
    
     .bar2{
        margin-top: -1.2rem;
     }
    
     .bar3{
        margin-top: 1.1rem;
     }
    }
    
    @media screen and (min-width: 912px) and (orientation: portrait){
        
       .bar2{
          margin-top: 0.2rem;
       }
      
       .bar3{
          margin-top: 0rem;
       }
      }
    
      @media screen and (min-width: 1024px) and (orientation: landscape){
        
        .bar2{
           margin-top: 0.9rem;
        }
       
        .bar3{
           margin-top: -1.4rem;
        }
    
        .cards3{
            margin-top: -8rem;
        }
       }
    
       @media screen and (min-width: 1200px) and (orientation: landscape){
        
        .bar-sizes{
            margin-left: 4rem;
        }
        
        .bar2{
           margin-top: -5.4rem;
        }
       
        .bar3{
           margin-top: -3rem;
        }
    
        .card-headingp3{
            left:1rem;
        }
       }
    
       @media screen and (min-width: 1300px) and (orientation: landscape){
        
        .bar-sizes{
            margin-left: 4rem;
            width: 170px;
        }
        
        .bar2{
           margin-top: 4rem;
        }
       
        .bar3{
           margin-top: 4.4rem;
        }
        .cards3{
            margin-top: 0rem;
        }
    
        .card-headingp3{
            margin-left: 1.7rem;
            width: 13rem;
        }
       }
    
    
       @media screen and (min-width: 1600px) and (orientation: landscape){
        
        .bar-sizes{
            margin-left: 7rem;
            width: 190px;
        }
        
        .bar2{
           margin-top: 4rem;
        }
       
        .bar3{
           margin-top: 4.4rem;
        }
        .cards3{
            margin-top: 0rem;
        }
    
        .card-headingp3{
            margin-left: 5.5rem;
            width: 13rem;
        }
       }