.whole3{
    background-color: white;
    color: black;
}
.top-heading3 h2{
    color: rgb(140, 31,31);
}

.cards3, .part2-session3{
    background-color: white;
    color: black;
}

@media (min-width:0px) {
    .bar-sizes{
        width: 12rem;
    }
}

@media (min-width:414px) {
    .bar-sizes{
        width: 14rem;
    }
}

@media (min-width:480px) {
    .bar-sizes{
        width: 16rem;
    }
}

@media (min-width:768px) {
    .bar-sizes{
        width: 12rem;
    }
    .card-heading3{
        font-size: 1.3rem;
    }
}

@media (min-width:1024px) {
    .bar-sizes{
        width: 16rem;
    }
    .card-heading3{
        font-size: 1.7rem;
    }
}

@media (min-width:1024px) {
    .card-heading3 {
        font-size: 1.6rem;
    }
}

@media (min-width:1920px) {
    .bar-sizes{
        width: 18rem;
    }
    .card-heading3{
        font-size: 2.3rem;
    }
}

