.forgot_main{
    margin: 40px;
}

.forgot_head{
    display: flex;
    justify-content:end;
    margin: 60px 80px;
}

#forgot_pic{
    width: 50%;
    object-fit: contain;
}

#forgot_form{
    display: inline-block;
    width: 42%;
}

.forgot_sec{
    display: flex;
    justify-content: space-between;
}
#forgot_label{
    color: black;
    font-size: 3.1rem; 
    font-weight: 600;
    text-transform: capitalize;
}
    
#send_btn{
    width: 100%;
    background-color: rgb(140,31,31);
    height: 49px;
    border: none;
}
#send_btn:hover{
    background-color:white;
    color: black;
    border: 0.2rem solid #8c1f1f;
}

#send_btn:focus{
    box-shadow: 0 0 1px rgb(140,31,31);
    color: aliceblue;
    background-color: rgb(56, 6, 6);
}

#forgot_mail{
    height: 49px;
    border:2px solid rgb(140,31,31);
}

#forgot_mail:focus{
    transition: all 0.3s;
    border: 0 none;
    box-shadow: 0 0 13px rgb(140,31,31);
}
#forgot_arrow:hover{
    cursor: pointer;
}

@media (max-width:1024px) {
    #forgot_label {
        font-size: 2.6rem;
    } 
    .forgot_head {
        margin: 60px 18px;
    }
}
@media (max-width:991px) {
    #forgot_form{
        width: 50%;
    }
    #forgot_label{
        font-size: 2.4rem;
    }
    .forgot_head {
        margin: 60px 50px;
    }
}

@media (max-width:768px){
    .forgot_main {
        margin: 10px;
    }
    .forgot_sec {
        flex-direction: column;
        align-items: center;
    }
    #forgot_pic {
        width: 80%;
    }
    #forgot_form {
        margin-top: 80px;
        width: 56%;
    }
    #forgot_label {
        font-size: 2.7rem;
    }
}

@media (max-width:490px){
    #forgot_label {
        font-size: 2.2rem;
    }
}
@media (max-width: 476px){
    #forgot_label {
        font-size: 2.0rem;
    }
    .forgot_head {
        margin: 60px 45px;
    }
    #forgot_arrow{
        font-size: 2.4em;
    }
}

@media (max-width:440px){
    #forgot_pic{
        width: 95%;
    }
    #forgot_form {
        width: 84%;
    }
}
@media (max-width:428px){
    #forgot_label {
        font-size: 2.1rem;
    }
    .forgot_head {
        margin: 60px 30px;
    }
    #forgot_arrow{
        font-size: 2.2em;
    }
}

@media (max-width:414px){
    #forgot_pic {
        width: 100%;
    }
    #forgot_label {
        font-size: 2.0rem;
    }
    .forgot_head {
        margin: 60px 30px;
    }
    #forgot_arrow{
        font-size: 2em;
    }
}

@media(max-width:390px) {
    #forgot_form {
        width: 88%;
    }    
}

@media (max-width:375px){
    #forgot_label {
        font-size: 2rem;
    }
    .forgot_main {
        margin: 0px;
    }
    .forgot_head {
        margin: 60px 20px;
    }
}
