@media (min-width:0px) {
    .forgot_main {
        margin: 0px;
    }
    .forgot_head{
        display: flex;
        justify-content:end;
        margin: 60px 80px;
    }  
    .forgot_sec {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    #forgot_pic {
        width: 100%;
    }
    #forgot_form {
        display: inline-block;
        margin: 80px auto;
        width: 91%;
    }
    #forgot_label {
        color: black;
        margin-bottom: 4rem;
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
        text-transform: capitalize;
    }
    #forgot_form_text{
        font-size: 16px;
        text-align: center;
    }
    .forgot_mail_2 {
        margin: 3rem 0px 5rem 0px;
    }
    #forgot_mail {
        height: 49px;
        border: 2px solid rgb(140,31,31);
    }
    #send_btn {
        width: 100%;
        background-color: rgb(140,31,31);
        height: 49px;
        border: none;
    }
    #send_btn:hover{
        background-color:white;
        color: black;
        border: 0.2rem solid #8c1f1f;
    }    
    #send_btn:focus{
        box-shadow: 0 0 1px rgb(140,31,31);
        color: aliceblue;
        background-color: rgb(56, 6, 6);
    }    
    #forgot_mail{
        height: 49px;
        border:2px solid rgb(140,31,31);
    }    
    #forgot_mail:focus{
        transition: all 0.3s;
        border: 0 none;
        box-shadow: 0 0 13px rgb(140,31,31);
    }
    #forgot_arrow:hover{
        cursor: pointer;
    }    
}

@media (min-width:414px){
    .forgot_main {
        margin: 10px;
    }
    #forgot_arrow {
        font-size: 3.2rem;
    }
    #forgot_form {
        width: 87%;
    }
    #forgot_label {
        font-size: 2.2rem;
    }
    #forgot_form_text {
        font-size: 18px;
    }
}

@media (min-width:500px){
    #forgot_form {
        width: 22rem;
    }
}

@media (min-width:700px){
    .forgot_sec {
        flex-direction: row;
    }
    .forgot_main{

        margin-bottom: 30px;
    }
    #forgot_pic {
        width: 19rem;
    }
    #forgot_form_text {
        font-size: 14px;
    }
    #forgot_form {
        margin: 0px 0px;
        width: 20rem;
    }
    .forgot_mail_2 {
        margin: 2rem 0px 3rem 0px;
    }
    #forgot_label {
        font-size: 2rem;
    }
    #forgot_arrow{
        font-size: 3.5rem;
    }
}

@media (min-width:768px) {
    #forgot_label {
        font-size: 2.3rem;
    }
    #forgot_arrow{
        font-size: 3.5rem;
    }
    #forgot_form {
        width: 22rem;
    }
}

@media (min-width:900px){
    #forgot_pic {
        width: 25rem;
    }
    #forgot_form {
        width: 24rem;
    }
    #forgot_label {
        font-size: 2.3rem;
    }
    #forgot_form_text {
        font-size: 18px;
    }
    .forgot_mail_2 {
        margin: 3rem 0px 5rem 0px;
    }
}

@media (min-width:1024px) {
    #login_container {
        padding-left: 20px;
        padding-right: 20px;
    }
    #forgot_form {
        width: 30rem;
    }    
}

@media (min-width:1280px) {
    #forgot_form {
        width: 27rem;
    }
    #forgot_pic {
        width: 33rem;
    }
    #forgot_label {
        font-size: 2.9rem;
    }
    .forgot_sec {
        margin: auto 40px;
    }    
}

@media (min-width:1440px) {
    #forgot_pic {
        width: 40rem;
    }
}

@media (min-width:1600px) { 
    .forgot_sec {
        margin: auto 100px;
    }
    #forgot_pic {
        width: 42rem;
    }
}

@media (min-width: 1920px){
    #forgot_pic {
        width: 60rem;
    }
}