.buttons-container button{
   margin-left: 23rem;
   border: none;
   padding: 0.5rem;
   border-radius: 0.9rem;
   padding-left: 1.6rem;
   padding-right: 1.6rem;
   font-size: 0.9rem;
   position: relative;
   left: 9rem;
}

.buttons-container .register-button{
    background-color:#8c1f1f;
    color: white;
    margin-left: 2.5rem;
}

.buttons-container .login-button{
    background-color:white;
    color: black;
    padding-left: 2rem;
   padding-right: 2rem;
    border: 0.2rem solid #8c1f1f;
}

.nav-items-container{
    position: relative;
    left:14rem;
}

.items{
    font-weight:600;
}


/* 360px, 375px, 390px, 393px,  412px, 540px, 412*/
@media screen and (min-width: 360px) and (orientation: portrait){
    .nav-items-container{
        left:-3rem;
    }

    .buttons-container button{
        margin-left: -9rem;
        border: none;
        margin-top:1rem;
     }

     .buttons-container .login-button{
      padding-top:0.2rem;
      position: relative;
      top:-0.2rem;
    }
}


/* 768px, 820px, 912px, */
@media screen and (min-width: 768px) and (orientation: portrait){
    .nav-items-container{
        left:-3rem;
    }

    .buttons-container button{
        margin-left: -9.2rem;
        margin-top:1.9rem;
     }

}



@media screen and (min-width: 791px) and (orientation: landscape){
    .nav-items-container{
        left:-2.9rem;
    }

    .buttons-container button{
        margin-left: -9.1rem;
        margin-top:0.9rem;
     }

}

@media screen and (min-width: 1024px) and (orientation: landscape){
    .nav-items-container{
        left:-1rem;
    }

    .buttons-container button{
        margin-left: -6.0rem;
        margin-top:0.4rem;
     }

     .buttons-container .login-button{
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
    }

}

@media screen and (min-width: 1280px) and (orientation: landscape){
    .nav-items-container{
        left:5rem;
    }

    .buttons-container button{
        margin-left: 6rem;
        margin-top:0.4rem;
     }

     .buttons-container .login-button{
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
    }
}

@media screen and (min-width: 1300px) and (orientation: landscape){
    .nav-items-container{
        left:13rem;
    }

    .buttons-container button{
        margin-left: 23rem;
        margin-top:0.4rem;
     }

     .buttons-container .login-button{
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
    }
}

@media screen and (min-width: 1336px) and (orientation: landscape){
    .nav-items-container{
        left:6rem;
    }

    .buttons-container button{
        margin-left: 8rem;
        margin-top:0.4rem;
     }

     .buttons-container .login-button{
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
    }
}













