    @media (min-width:0px){
    .main{
        margin: 40px 15px;
    }
    .firt_row{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: -170px;
    }
    .firt_row h2{
        font-weight: bold;
        font-size: 30px;
        color: #8c1f1f;
    }
    .faqs_pic{
        width:112%;
        position: relative;
        object-fit: contain;
        height: 360px;
        top: -25px;
    }
    .sec_row{
        display: flex;
        flex-direction: column;
        text-align: left;
        position: relative;
        top: 100px;
        margin-bottom: 8rem;
    }
    .column{
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 0.87em;
    }
    .column h4{
        color: #8c1f1f;
        font-weight: bold;
        font-size: large;
    }
}

@media (min-width:500px) {
    .firt_row h2{
        font-size: 30px;
    }
    .faqs_pic{
        width: 104%;
        height: 420px;
    }
    .column{
        font-size: 0.87em;
    }
    .column h4{
        font-size: large;
    }
}

@media(min-width:540px) {
    .faqs_pic{
        width: 100%;
    }
}

@media (min-width:768px) {
    .firt_row h2{
        font-size: 35px;
    }
    .faqs_pic{
        width: 90%;
    }
    .firt_row{
        margin-bottom: -170px;
    }
    .sec_row{
        position: relative;
        top: 60px;
    }
}

@media (min-width:1024px){
    .faqs_pic{
        top: -35px;
    }
    .sec_row{
        position: relative;
        top: 45px;
    }
}