.footer_col{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.links,.copy{
    font-size: 15px;
}

footer_Title{
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
}

.footer_log{
    position: relative;
    width: 50px;
    height: 45px;
    float: left;
    object-fit: contain;
}

.Main_footer{
    background-color: rgb(140,31,31);
    color: beige;
    margin-top: auto;
    position: relative;
    top:40rem;
    text-transform: capitalize;
}

.central, .central2{
    display: inline-block;
    position: relative;
    left: 50px;
    width: 161px;
    top: -43px;
    margin-bottom: 0;
}

.central2{
    top: -48px;
}

.Container{
    display: flex;
    flex-direction: column;
    padding: 60px 40px;
}

.footer_row{
    display: grid;
   grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
   grid-column-gap: 60px;
}

span{
    font-weight: 600;
}

@media (max-width:1200px) {
    .footer_row{
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    grid-row-gap: 60px;
    }   
}

@media (max-width:740px) {
    .footer_row{
    grid-row-gap: 70px;
    }   
}

@media(max-width:412px) {
    .links, .copy{
        font-size: 14px;
    }
}
@media(max-width:384px) {
    .Container{
        padding-right: 25px;
        padding-left: 25px;
    }
    .links, .copy{
        font-size: 14px;
    }
}

@media(max-width:360) {
    .Container{
        padding-right: 15px;
        padding-left: 15px;
    }
}