@media(min-width:0px) {
    .footer_row {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(270px, 1fr));
        grid-row-gap: 70px;
    }
    .links, .copy {
        font-size: 13px;
    }
    .Container {
        display: flex;
        flex-direction: column;
        padding: 60px 0px;
    }     
    span{
        font-weight: 600;
    }
    .footer_col{
        display: flex;
        flex-direction: column;
        text-align: left;
    }    
    .links,.copy{
        font-size: 14px;
    }    
    .footer_log{
        position: relative;
        width: 50px;
        height: 45px;
        float: left;
        object-fit: contain;
    }    
    .Main_footer{
        background-color: rgb(140,31,31);
        color: beige;
        margin-top: auto;
        position: sticky;
        top: 100%;
        text-transform: capitalize;
        padding: 10px;
    }
    .central, .central2, .footer_sub {
        font-size: 1em;
    }    
    .central, .central2{
        display: inline-block;
        position: relative;
        left: 46px;
        top: -42px;
        width: 194px;
        margin-bottom: 0;
    }    
    .central2{
        top: -45px;
    }
}

@media(min-width:360px) {
    .Container {
        padding: 60px 15px;
    }
    .footer_row {
        grid-template-columns: repeat(auto-fill,minmax(279px, 1fr));
    }
    .central, .central2, .footer_sub {
        font-size: 1em;
    }
}
@media(min-width:375px){
    .Container {
        padding: 60px 30px;
    }
}

@media(min-width:375px)and (orientation:landscape) {
    .central, .central2 {
        left: 46px;
        top: -42px;
    }
    .central2 {
        top: -43px;
    }
}
@media(min-width:375px)and (orientation:portrait) {
    .Container {
        padding: 60px 15px;
    }
}

@media(min-width:414px){
    .footer_row {
        grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    }
    .Container {
        padding: 60px 30px;
    }
}

@media (min-width:700px){
    .footer_row {
        grid-template-columns: repeat(auto-fill,minmax(220px, 1fr));
        grid-row-gap: 70px;
    }
    .links, .copy {
        font-size: 11px;
    }
    .Container {
        padding: 60px 0px;
    }
}

@media (min-width:768px){
    .links, .copy {
        font-size: 12px;
    }
}

@media (min-width:820px){
    .links, .copy {
        font-size: 13px;
    }
}

@media (min-width:900px){
    .footer_row {
        grid-template-columns: repeat(auto-fill,minmax(230px, 1fr));
    }
}

@media (min-width:1024px) {
    .Container {
        padding: 60px 0px;
    }    
    .links, .copy {
        font-size: 15px;
    }    
    .Main_footer {
        padding: 10px;
    }
    .footer_row{
        grid-template-columns: repeat(auto-fill,minmax(310px, 1fr));
    }   
    .central, .central2,.footer_sub {
        font-size: 1.2em;
    }
}

@media (min-width:1280px) {
    .footer_row{
        grid-template-columns: repeat(auto-fill,minmax(340px, 1fr));
    }
}

@media (min-width:1366px) {    
    .footer_row{
       grid-template-columns: repeat(auto-fill,minmax(330px, 1fr));
       grid-column-gap: 0px;
    }  
    .Container {
        padding: 60px 10px;
    }
}

@media (min-width:1440px) {
    .footer_row{
        grid-template-columns: repeat(auto-fill,minmax(350px, 1fr));
        grid-column-gap: 35px;
    }   
}

@media (min-width:1440px) {
    .footer_row{
        grid-column-gap: 50px;
    }   
}

@media (min-width:1600px) {
    .footer_row{
        grid-template-columns: repeat(auto-fill,minmax(470px, 1fr));
    }   
}

@media(min-width:1920px){
    .footer_row{
        grid-column-gap: 100px;
    }
}


