#button{
    height: 35px;
    padding: 6px;
    background-color: white;
    border-radius: 20px;
    font-size: 15px;
    border: none;
    font-weight: 100;
    margin-left: 50px;
    transition: all 0.3s;
}
#button:hover{
    transition: all 0.3s;
    cursor: pointer;
    border-bottom: none;
    box-shadow: 0,0,30px, white;
    background-color: rgba(187, 179, 179, 0.911);
    color: white;
    transition: all 0.3s;
}

#second{
    width: 350px;
}

#third{
    text-align: center;

}
 
