@media (min-width:0px){
    .contact_body{
        margin: 40px 0px;
    }
    .second_row2{
        min-height: 80vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .contact_inputs{
        margin-bottom: 3.5rem;
        font-size: 17px;
    }
    .header{
        margin: 5rem auto 4rem auto;
        text-align: center;
        font-weight: 400;
        font-size: 0.93em;
    }    
    .header h1{
        color: rgb(140,31,31);
        font-weight: bold;
        font-size: 1.4em;
    }
    #name, #mail, #dept, input[type="textarea"]{
        width:100%;
        height: 55px;
        border-radius: 12px;
        border:2px solid rgb(140,31,31);
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
    }    
    input[type="textarea"]{
        height: 200px;
        margin-bottom: 30px;
        outline: none;
    }    
    #form_button{
        width:100%;
        height: 50px;
        border:none;
        background:rgb(140,31,31);
    }    
    #form_button:hover{
        background-color:white;
        color: black;
        border: 0.2rem solid #8c1f1f;
    }
    #form_button:focus{
        box-shadow: 0 0 1px rgb(140,31,31);
        color: aliceblue;
        background-color: rgb(56, 6, 6);
    }    
    .form_Main_Box{
        margin-top: 50px;
        width: 85%;
    }    
    .contact_img{
        width: 100%;
        min-height: 40rem;
        top: 30px;
    } 
    input[type="textarea"]:focus, #name:focus, #mail:focus, #dept:focus{
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        border: 0 none;
        box-shadow: 0 0 13px rgb(140,31,31);
    }    
}

@media (min-width:375px){
    .header h1{
        font-size: 1.7rem;
    }
}

@media (min-width:414px){
    .header{
        font-size: 1rem;
    }
}

@media (min-width: 500px){
    .form_Main_Box {
        width: 21rem;
    }
}
@media (min-width:700px) {
    .contact_img{
        width: 60%;
        min-height: 40rem;
        position: relative;
        top: -44px;
    }  
    .header h1 {
        font-size: 37px;
    }
    .contact_body{
        padding: 1rem;
    }
}

@media (min-width:1024px) {
    .header h1 {
        font-size: 44px;
    }
    .header {
        font-size: 1.2rem;
    }  
    #name, #mail, #dept, input[type="textarea"],#form_button {
        width: 95%;
    }
}

@media (min-width:1366px){   
    .header h1{
        color: rgb(140,31,31);
        font-weight: bold;
        font-size: 55px;
    }
    #name, #mail, #dept, input[type="textarea"],#form_button{
        width:25rem;
    }   
    .form_Main_Box{
        width: 40%;
    }    
    .contact_img{
        width: 60%;
    }  
    .header {
        font-size: 1.3rem;
    }  
    .contact_body{
        padding: 1.5rem;
    }
}

@media (min-width:1920px){   
    #name, #mail, #dept, input[type="textarea"],#form_button{
        width:26rem;
    } 
}