@media (max-width:1920px){
    .contact_body{
        margin: 40px;
    }
    .second_row2{
        min-height: 80vh;
        justify-content: space-between;
    }
    .contact_inputs{
        margin-bottom: 3.5rem;
        font-size: 20px;
    }
    .header{
        margin: 5rem auto;
        text-align: center;
        font-weight: 400;
        font-size: 1.5rem;
    }    
    .header h1{
        color: rgb(140,31,31);
        font-weight: bold;
        font-size: 60px;
    }
    #name, #mail, #dept, input[type="textarea"]{
        width:82%;
        height: 55px;
        border-radius: 12px;
        border:2px solid rgb(140,31,31);
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
    }    
    input[type="textarea"]{
        height: 200px;
        margin-bottom: 30px;
        outline: none;
    }    
    #form_button{
        width:82%;
        height: 50px;
        border:none;
        background:rgb(140,31,31);
    }    
    #form_button:hover{
        background-color:white;
        color: black;
        border: 0.2rem solid #8c1f1f;
    }
    #form_button:focus{
        box-shadow: 0 0 1px rgb(140,31,31);
        color: aliceblue;
        background-color: rgb(56, 6, 6);
    }    
    .form_Main_Box{
        width: 40%;
    }    
    .contact_img{
        width: 60%;
        height: 80vh;
    }    
    input[type="textarea"]:focus, #name:focus, #mail:focus, #dept:focus{
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        border: 0 none;
        box-shadow: 0 0 13px rgb(140,31,31);
    }    
}

@media (max-width:1366px) {
    .contact_img {
        height: 100vh;
    }
    .header h1 {
        color: rgb(140,31,31);
        font-weight: bold;
        font-size: 55px;
    }
}

@media (max-width:1280px) {
    .header h1 {
        font-size: 52px;
    }
}

@media (max-width:1024px) {
    .header h1 {
        font-size: 44px;
    }
    .header {
        font-size: 1.2rem;
    }  
    #name, #mail, #dept, input[type="textarea"],#form_button {
        width: 95%;
    }
}

@media (max-width:1024px) and (orientation:portrait) {
    .header{
        margin-bottom: 4rem;
    }
    .contact_img {
        height: 82vh;
    }
}

@media (max-width:834px) and (orientation:portrait) {
    .contact_img {
        height: 68vh;
    }
    #name, #mail, #dept, input[type="textarea"], #form_button {
        width: 100%;
    }    
}

@media (max-width:834px) and (orientation:landscape) {
    .contact_img {
        height: 85vh;
    }    
}

@media (max-width:810px) and (orientation:landscape) {
    .contact_img {
        height: 85vh;
    }
    #name, #mail, #dept, input[type="textarea"], #form_button {
        width: 100%;
    }    
}

@media (max-width:768px) {
    .contact_inputs {
        font-size: 17px;
    }
    .contact_img {
        position: relative;
        top: -44px;
    }
    .header h1 {
        font-size: 37px;
    }
}

@media (max-width:414px){
    .header {
        font-size: 1rem;
    }
    .form_Main_Box {
        width: 80%;
    }
    .contact_img {
        width: 100%;
    }
}

@media (max-width: 414px){
    .form_Main_Box {
        width: 85%;
    }
}

@media (max-width:375px){
    .contact_img{
        width: 100%;
        top: 30px;
    }
    .header h1{
        font-size: 1.7rem;
    }
    .form_Main_Box{
        margin-top: 50px;
    }
    .header {
        font-size: 0.93em;
    }
}

@media (max-width: 320px){
    .header h1{
        font-size: 1.4rem;
    }
}